.back-icon {
  font-size: 2.4rem;
  color: var(--color-primay);
  cursor: pointer;
}
.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.screen2-container {
  margin: 2rem;
  width: fit-content;
}
.screen2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.chip {
  border-radius: 1.6rem;
  width: fit-content;
  font-size: 1.6rem;
  color: green;
  border: 1px solid green;
  padding: 0.2rem 1.2rem;
}
